[Unit]
Description=Django Webservice for GPIO Control

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Desktop/myapp/manage.py runserver 0:8000
WorkingDirectory=/home/pi/Desktop/myapp/

[Install]
WantedBy=sysinit.target